<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hive Manager{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <img class="logo" src="/images/hive_manager.png" alt="" />
        <a class="setting-action btn" href="" title="Systemeinstellungen"><i class="fas fa-cogs"></i></a>
        <a class="user-action btn" href="" title="Benutzer"><i class="fas fa-user"></i></a>
    </div>
    <div class="wrapper container-fluid">
        {% block content %}{% endblock %}
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
